/*Aqui va los comentarios de css*/
*{
    /*Elimina el margen por defecto*/
    margin: 0;
    /*Elimina el espacio por defecto*/
    padding: 0;
    /*Se definen los modelos de caja de los navegadores*/
    -webkit-box-sizing: border-box;
    -moz-webkit-box-sizing: border-box;
    box-sizing: border-box;


}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*Estilos para el cuerpo*/
body{
    height: 100%;
    display: flex;
    flex-direction:column ;
    min-height: 100vh;
    /*Establece la fuente del documento*/
    font-family: "Alegreya SC", Arial, Helvetica, sans-serif;
    /*Establece el tama;o de la fuente*/
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background: url('../imagenes/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    position: relative;
    width: 100%;
    padding-top: 100px;
}

/*Le damos estilo a la clase contenedor*/
.contenedor
{
    /* El contenedor usa el 90%de la pantalla */
    width: 90%;
    /*El ancho maximo del contenedor es de 1000px*/
    max-width: 1000px;
    /*Se centra el contenedor*/
    margin:auto;
    /*Oculta el contenido desbordado*/
    overflow: hidden;
}
/*------Header-------*/
/*Datos de contacto*/
/*iconos*/
.logo {
    width: 300px;
    height: auto;
    box-shadow: 15px 0px 15px 0px rgb(0, 0, 0, 0.1);
}

.contacto a {
    display: inline-flex;
    align-items: center;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 15px;
}

.contacto a .icono {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    object-fit: contain;
    vertical-align: middle;
}

.datos-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7AA931;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.datos-contacto .contacto a {
    color: #000000;
    font-size: 16px;
    /*Establece el peso de la fuente*/
    font-weight: 300;
    /*Hace que los enlaces se muestren como bloques*/
    display: inline-block;
    margin: 5px 8px;
    /*Elimina la linea de la parte de abajo de los botones*/
    text-decoration: none;
    position: relative;
}
/*pseudo clase*/
/*al pasar el mouse se activa*/
.datos-contacto .contacto a:hover{
    /*le pone color al seleccionar botones*/
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.datos-contacto .titulo {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
/*Titulo principal*/
.texto{
    text-align: center;
    color: #000000;
    padding-top: -10px;
}

.texto .nombre-emprendimiento{
    font-size: 50px;
    font-weight: 600;
    margin-top: 40px;
}
/*Cuadro de la informacion*/
.cuadro-informacion {
    width: 800px;
    background-color: rgba(233, 239, 244, 0.775);
    text-align: center;
    padding: 30px 20px;
    margin: 20px auto;
    display: block;
    box-shadow: 15px 0px 15px 0px rgb(0, 0, 0, 0.1);
}
.cuadro-informacion p {
    font-size: 16px;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
}
/*Seccion botones de seccion*/
.seccion-botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 20px;
    gap: 15px;
}
.seccion-botones a {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #7AA931;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.seccion-botones a:hover {
    background-color: #7AA931;
    color: rgb(0, 0, 0);
}
/*Imagen del producto especifico y imagen referencial*/
.producto-detalle {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 40px auto 60px auto;
    background-color: #fff;
    padding: 20px;
    gap: 40px;
}
.producto-img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}
.producto-info {
    flex: 1;
    min-width: 250px;
}
.producto-info h1{
    margin-top: 0;
    font-size: 28px;
    color: #000000;
    margin-bottom: 15px;
}
.producto-info p {
    font-size: 18x;
    color: #000000;
    line-height: 1.6;
}
/*Footer de la pagina*/
.footer {
    background-color: #003057;
    color: #fff;
    padding: 30px 0;
    font-size: 14px;
    margin-top: auto;
}
.footer .contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-info {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
}

.footer-marca {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
}
.footer h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #7AA931;
}
.footer p {
    margin: 5px 0;
}
@media screen and (max-width: 400px){
    .logo img{
        width: 100px;
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .producto {
        width: 100%;
        margin: 10px auto;
    }

    .texto h1 {
        font-size: 24px;
    }
    .texto h3 {
        font-size: 18px;
    }
    .footer .contenedor {
        flex-direction: column;
        text-align: center;
    }
    .cuadro-informacion {
        width: 90%;
        padding: 15px;
        margin: 10px;
        text-align: justify;
        font-size: 14px;
        line-height: 1.5;
    }
    .datos-contacto {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        text-align: left;
    }
    .datos-contacto .contacto{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .datos-contacto .contacto a {
        font-size: 14px;
        margin: 2px 0;
    }
    .datos-contacto .titulo {
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
}